/* theme color */
$--color-primary: #005a9b;
$--color-text-primary: #263238;
$--border-color-base: #707070;
/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";